# IntelliJ project files
.idea
*.iml
out
gen
/venv/

# Custom ignore
home/.bashrc.d/work.bashrc
home/.sbt/*/plugins/project
home/.sbt/*/plugins/target
home/.sbt/*/templates
home/.sbt/*/server
home/.sbt/*/staging
home/.sbt/*/zinc
home/.sbt/boot
home/.sbt/preloaded

home/.config/systemd/user/default.target.wants
