[user]
	name = qboileau
        username = Quentin Boileau
	
[color]
  status = always
  diff = always
  branch = always

[color "status"]
  added = green normal bold
  changed = blue normal bold
  untracked = magenta normal bold
  deleted = red normal bold

[alias]
  fall = fetch -a
  pr = pull --rebase
  co = checkout
  cotrack = checkout --track
  ci = commit
  st = status
  br = branch
  save = stash
  load = stash pop
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  ll = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[core]
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX

[push]
  default = simple

[merge]
	tool = meld
  
[credential]
	helper = cache --timeout=3600

[include]
    path = .git_credentials
