[user]
  name = Quentin Boileau
  username = qboileau
	
[color]
  status = always
  diff = always
  branch = always

[color "status"]
  added = green normal bold
  changed = blue normal bold
  untracked = magenta normal bold
  deleted = red normal bold

[alias]
  fall = fetch -a
  pr = pull --rebase
  co = checkout
  cotrack = checkout --track
  ci = commit
  st = status
  br = branch
  save = stash
  load = stash pop
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  ll = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[core]
	autocrlf = input

[diff]
	external = meld

[push]
  default = simple

[merge]
	tool = meld
  
[credential]
	helper = cache --timeout=3600

[credential "https://github.com"]
  username = qboileau

