[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA
Icon=/usr/share/intellij-idea-ultimate-edition/bin/idea.png
Exec="/usr/share/intellij-idea-ultimate-edition/bin/idea.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
